body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: animate 20s linear infinite;
}

.circle #globe{
    height: 350px;
    width: 350px;
}

.man{
    width: 50%;
    height: 2px;
    position: absolute;
    top:50%;
    transform-origin: right; 
    animation: animateMan 10s linear infinite;
}


.man img{
    height: 200px;
    width: 180px;
}


.man img{
    transform: rotate(60deg) translateY(70px) scaleX(-1) scaleY(-1);
}

@keyframes animate{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(-360deg);
    }
}

@keyframes animateMan{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
